:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --accent-color: #2196F3;
    --some-txt-color: #ffffff;
    --header-txt-color: #212121;
    --main-txt-color: #757575;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--main-font);
    color:var(--main-txt-color);
}

.head-logo {
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.studio-not-web {
    color: black;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-txt-color)
}

.menu-link:hover, .menu-link:focus {
    color: var(--accent-color);
}

.head-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-color);
}

.head-contacts-link:hover, .head-contacts-link:focus {
    color: var(--accent-color);
}

.hero, .footer {
    background-color: #2F303A;
}

.hero-header {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--some-txt-color);
}

.modal-btn {
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--some-txt-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.adv-list-header {
    font-weight: 900;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-txt-color)
}

.adv-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.about-header {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-txt-color)
}

.team {
    background: #F5F4FA;
}

.team-header {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-txt-color)
}

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-txt-color)
}

.team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--some-txt-color);
}

.address-link:hover, .address-link:focus {
    color: var(--accent-color);
}

.footer-contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
    color: var(--accent-color);
}

.studio-not-web-footer {
    color: var(--some-txt-color);
}

address {
    font-style: normal;
}

/* PORTFOLIO*/

.pf-header {
    display: none;
}

.pf-btn {
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-txt-color)
}

.pf-btn:hover, .pf-btn:focus {
    color: var(--some-txt-color) ;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.projects-list-header {
    font-weight: 900;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--header-txt-color)
}

.projects-list-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}